.navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: 25px;
}
#artist-input
{
    width: 400px;
}
.carousel
{
    height: 500px;
    background-image: url("../images/carouselbackground.jpg") ;
    background-size: contain;
    margin-bottom:10px;
}

.d-block
{
    width: 60%;
    height: 500px;
    margin: auto;
}

.carousel-caption
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    margin: auto;
    
}

.container {
    margin-bottom:20px;
}

#findartists{
    text-align: center;
}
h1 {
    width: 90%;
    margin: auto;
}
h2 {
    text-align: center;
}

.foodPic {
    width: 90%;
    margin-left: 5%;

}

#resName {
    text-align: center;
}

#cuisine-div {
    column-count: 6;
}

.cuisineButton {
    background-color: white;
    font-family: 'Lobster', cursive;
    border: 2px solid white;
    border-radius: 12px;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 25px;
}

.foodtypes {
    background-image: url("../images/food3.jpeg");
    background-size: cover;
}
#ct {
    text-align: center;
    padding: 20px;
    color: white;
}
#ch {
    text-align: center;
    padding: 10px;
    color: white;
}
.one {
    width: 52%;
    margin: auto;
    height: 700px;
}
